@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200 800;
  font-display: block;
  src: local("Manrope Variable"), local("Manrope"),
    url("/fonts/manrope-latin-wght-normal.woff2") format("woff2");
}
